body{font-family: Tahoma,Arial, Helvetica, sans-serif;font-size: 11px}
html{}
html body{
    background:  url(../images/bg/21original.gif) center repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}
h1,h2,h3{font-weight: bold}
h2{color: #9A0E14}
h3{font-style: italic}
.id-main-pages{margin: 0 auto;width: 520px;
/*              background: url(../images/bg1.jpg) center repeat rgba(100 ,100 ,100,.5);*/
}
.id-head header{position: relative;left: 0;top: 0}
.id-footer{margin: 0 auto; padding: 20px  0}
.id-page-content{min-height: 520px;position: relative;}
.id-notice-blank{height: 90px;width: 520px;position: relative;}
.id-notice {width: 494px;border: 1px solid #F0C36D;padding: 12px;
           background: #F9EDBE;border-radius: 4px;z-index: 102;margin-bottom: 8px;}
.id-pages-list{position: relative;width: 520px}

.services_block {
width: 60px;
margin: 0 15px 0 0;
text-align: center;
}
.w270 {
width: 320px;
}
.w90 {
width: 90px;
}
.table {
display: table;
zoom: 1;
}
.left {
float: left;
}
.line1 {
height: 1px;
background: 
#494949;
margin: 15px 0;
}

.gal2 { padding-right:3px; width:248px; float:left;margin-bottom:20px;margin-left: 20px;margin-right: 24px}
.gal2.last { padding-right:0px;}

.gal2 .photo1 {width:248px; height:145px; position:relative;margin-bottom:5px;margin-top: 0;margin-left: 0 }
.gal2 .photo1 a img {position:relative;width: 248px;height: 145px; }
.gal2 .photo1 a span{position:absolute;z-index:2;margin:0px 0 0 0px; top:0;left:0; background:url(../images/photo_over.png) 50% 50% no-repeat #000; width:100%; height:100%;}
.red{color:red}
#content ul.jpages li.jpage .box.w900{padding: 0px;width: 520px;}
#content ul.jpages li.jpage .box.w960{padding: 0px;width: 520px;border: 0px;background: #e4e4e4}
.q230{width: 224px;height: 224px;}
.q460{width: 454px;height: 224px;}
.q690{width: 684px;height: 224px;}
.q460.fix,.q690.fix{width: 224px;height: 224px;}
.jq230{width: 224px;height: 454px;}

.jtit{position: absolute;top: 176px;left: 0;height: 224px;width: 100%;z-index: 3;}
.jtit *{color: #d7d7d7}
.jtit span.bg{position: absolute;top: 0;left: 0;height: 224px;width: 100%;}
.q230 .jtit,.q460 .jtit,.q690 .jtit,.jq230 .jtit{background: #aaa;background: url(../images/bg/30.png) repeat;}
.q230:hover .jtit,.q460:hover .jtit,.q690:hover .jtit,.jq230:hover .jtit{background: url(../images/bg/80.png) repeat;}
.q230 .jimg,.q460 .jimg,.q690 .jimg,.jq230 .jimg{width: 100%;height: 100%;position:relative;}
.q230 .jimg,.q460 .jimg img,.q690 .jimg img,.jq230 .jimg img{
    max-width: 100%;max-height: 224px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;
         
}
.q230 .jaction,.q460 .jaction,.q690 .jaction,.jq230 .jaction{
    position: absolute;
    bottom: 0;right: 0;height: 28px;width: 100%;
    text-align: center;
}
.q230 .jimg img,.jq230 .jimg img{max-width: 224px;max-height: 224px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;}
.q230,.q460,.q690,.jq230{
    float: left;margin: 3px;position: relative;overflow: hidden;
    background:#ccc;
}

.q154{width: 153px;height: 153px;}
.q312{width: 310px;height: 153px;}


.q154 .jtit,.q312 .jtit{background: rgba(0,0,0,0.3);}
.q154:hover .jtit,.q312:hover .jtit{background: rgba(0,0,0,0.8);}
.q154 .jimg,.q312 .jimg{width: 100%;height: 100%;position:relative;}
.q154 .jimg,.q312 .jimg img{
    max-width: 100%;max-height: 153px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;
         
}
.q154 .jaction,.q312 .jaction{
    position: absolute;
    bottom: 0;right: 0;height: 28px;width: 100%;
    text-align: center;
}
.q154 .jimg img,.jq230 .jimg img{max-width: 153px;max-height: 153px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;}
.q154,.q312{
    float: left;margin: 2px;position: relative;overflow: hidden;
    background:#ccc;
}

.jbox{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;}
.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}
.id-template-detail{width: 684px;background: red;float: left;margin: 3px;position: relative;
    background:#ccc;min-height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
}
.unview{
    position: absolute;top: 4px;right: 4px;
    height: 16px;width: 16px;
    background: url(../images/icon/16/arrow_contract.png);
}
.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}
.container_16 a,.container_12 a {
  color: #fff;
  text-decoration: none;
}

.container_16 a:hover ,.container_12 a:hover {
  text-decoration: underline;
}

.container_12 h1,.container_16 h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

.container_12 h2,.container_16 h2 {
  padding-top: 20px;
  text-align: center;
}

.container_12 p,.container_16 p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}
.rsw-starred{width: 16px;height: 16px;background: url(../images/icon/16/star.png) center no-repeat;padding: 0;margin: 0;float: left;}
.rsw-half-starred{width: 16px;height: 16px;background: url(../images/icon/16/star_half.png) center no-repeat;padding: 0;margin: 0;float: left;}
.qimage100{margin: auto;left: 0;right: 0;top: 0;bottom: 0;position: absolute;
                 max-width: 100px;max-height: 100px}
.tl-center{text-align: center}
.tip-yellow{max-width: 200px}
.id-loadding-process{margin-left: -100px;position: fixed;bottom: 0;left:50%;
     width: 200px;height: 24px;background: rgba(0,0,0,0.8);z-index: 102;}
.id-loadding-pecent{position: absolute;top:0;left: 12px;color:#fff;}
.id-loadding-page{position: absolute;top:0;right: 12px;color:#fff;}
.id-loadding-bar{position: absolute;bottom: 0;left: 0;height: 4px;width: 196px;padding: 1px;border: 1px solid red;}
.id-loadding-bar div{height: 4px;background: blue;width:0%}
::-webkit-scrollbar {
height: 16px;
overflow: visible;
width: 16px;
}

::-webkit-scrollbar-thumb {
background-color: 
rgba(0, 0, 0, .2);
background-clip: padding-box;
border: solid 
transparent;
border-width: 1px 1px 1px 6px;
min-height: 28px;
padding: 100px 0 0;
box-shadow: inset 1px 1px 0 
rgba(0, 0, 0, .1),inset 0 -1px 0 
rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-button {
height: 0;
width: 0;
}
::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid 
transparent;
border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner {
background: 
transparent;
}
.box img{max-width: 100%}
.new{border: 2px dotted #0066CC;text-align: center;opacity: 0.5;cursor: pointer}
.new:hover{opacity: 1;background: #A8D4FF}
.ata-asE {
z-index: 6;
background-color: #FFF1A8;
border: 1px solid #CCC;
color: #222;
padding: 10px;
}
.tac{text-align: center}
.tar{text-align: right}
.tal{text-align: left}