/* 
    Document   : style
    Created on : Oct 15, 2012, 9:55:01 AM
    Author     : Kandahar
    Description:
        Purpose of the stylesheet follows.
*/

body{font-family: tahoma;font-size: 12px;background: #753D1D;}
.head{ height: 218px;background: url(../head-first.png) no-repeat top center}
.head-flash{width: 960px; height: 190px;position: absolute;top: 0;left: 0}
.head-second{ 
    height: 124px;background: url(../head-second.png) no-repeat center;width: 960px;
    position: absolute;top: 96px;left: 0;
}
.head-third{ 
    height: 180px;background: url(../head-third.png) no-repeat top left;width: 960px;
    position: absolute;top: 100px;left: 0;
}
.head-page{
    height: 380px;background: url(../page-bg.png) no-repeat top center;width: 960px;
    position: absolute;top: 100px;left: 0;
}
.nav_menu{
    position: absolute;top: 160px;
    width: 264px;height: 508px;
    background: url(../nav_box.png) no-repeat top center; 
z-index: 1
}
.foot{height: 140px;background: url(../foot.png) no-repeat top center;overflow: hidden}
.foot-flash{width: 960px; height: 200px;position: absolute;top: 0;left: 0}
.page-bg{}
.banner{position: absolute;top: -90px;right: 0;width: 261px;height: 257px;background: url(../banner.png) no-repeat top center;}
.subbanner{position: absolute;width: 100px;height: 100px;top: 51px;left: 88px}
.address{position: absolute;top: 400px;left: 52px;width: 160px;line-height: 18px}
.line{background: url(../line.png) no-repeat right center;}
h1{font-size: 12px;font-weight: bold;color: #FAA551}
p{color: #C8833F}
.bg2{background: #422008}
.pets .left .bd{background: none;}
.pets .left .hd{width: 590px}
.pets .left .hd li{background:#422008}
.pets .left .hd li a{color: #FAA551}
.pets .left .hd li.hover{background: #753D1D}