


div.input{
        height: 28px;
        padding: 0;margin: 2px 0;
        position: relative;
        width: 100%;
        
    }
    ._input-label[type=select] div.input .label{
        top:0px;
        left: 0px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        height: 26px;
    }
    ._input-label[type=select] div.input .select{
        position: absolute;
        top:0;left: 0;right: 0;
        padding: 0;margin: 0;
        padding-left: 100px;
        width: 100%;
/*        border: 1px solid #ccc;*/
        height: 28px;
        line-height: 16px;
/*        background: #f1f1f1;*/
/*        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;*/
        behavior: url(../lib/PIE/PIE.htc);
    }
    ._input-label[type=select] div.input .select select{
        width: 100%;
        height: 28px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 0px;
        padding: 4px 4px 4px 4px;
        background: #fafafa;
    }
    ._input-label[type=select] div.input .select select:focus{
        background: #fff;
    }
    .label label{
        height: 26px;
        line-height: 26px;
        padding-left: 8px
    }
    div.input label{
        padding-left: 8px;
        float: left;
        height: 26px;
        line-height: 26px;
    }
    div.input .label{
        position: absolute;
        top:1px;
        left: 1px;
        padding-left: 0px;
        line-height: 25px;
        height: 26px;
        width: 100px;
        background-color:#F7D9AF;
        color:#000;
/*        -webkit-border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px;*/
        behavior: url(../lib/PIE/PIE.htc);
    }
    div.input input[type=text],div.input input[type=password]{
        position: absolute;
        top:0;left: 0;right: 0;
        padding: 0;margin: 0;
        padding-left: 108px;
        width: 100%;
        border: 1px solid #ccc;
        height: 26px;
        line-height: 26px;
        background: #fafafa;
/*        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;*/
        behavior: url(../lib/PIE/PIE.htc);
    }
    div.input input[type=text]:focus,div.input input[type=password]:focus{
        background: #fff;
        
    }
    
    ._input-label                           {padding-right: 108px;}
    ._input-label[type=select]              {padding-right: 100px;}
    
    ._input-label[label=h60]               {padding-right: 68px;}
    ._input-label[label=h60] div.input .label{width: 60px}
    ._input-label[label=h60] ._input-label[type=select] div.input .select{padding-left: 60px;}
    ._input-label[label=h60] div.input input[type=text],._input-label[label=h60] div.input input[type=password]{padding-left: 68px;}
    ._input-label[type=select][label=h60]  {padding-right: 60px;}
    
    ._input-label[label=h80]               {padding-right: 88px;}
    ._input-label[label=h80] div.input .label{width: 80px}
    ._input-label[label=h80] ._input-label[type=select] div.input .select{padding-left: 80px;}
    ._input-label[label=h80] div.input input[type=text],._input-label[label=h80] div.input input[type=password]{padding-left: 88px;}
    ._input-label[type=select][label=h80]  {padding-right: 80px;}
    
    ._input-label[label=h120]               {padding-right: 128px;}
    ._input-label[label=h120] div.input .label{width: 120px}
    ._input-label[label=h120] ._input-label[type=select] div.input .select{padding-left: 120px;}
    ._input-label[label=h120] div.input input[type=text],._input-label[label=h120] div.input input[type=password]{padding-left: 128px;}
    ._input-label[type=select][label=h120]  {padding-right: 120px;}
    
    ._input-label[label=h140]               {padding-right: 148px;}
    ._input-label[label=h140] div.input .label{width: 140px}
    ._input-label[label=h140] ._input-label[type=select] div.input .select{padding-left: 140px;}
    ._input-label[label=h140] div.input input[type=text],._input-label[label=h140] div.input input[type=password]{padding-left: 148px;}
    ._input-label[type=select][label=h140]  {padding-right: 140px;}
    
    ._input-label[label=h160]               {padding-right: 168px;}
    ._input-label[label=h160] div.input .label{width: 160px}
    ._input-label[label=h160] ._input-label[type=select] div.input .select{padding-left: 160px;}
    ._input-label[label=h160] div.input input[type=text],._input-label[label=h160] div.input input[type=password]{padding-left: 168px;}
    ._input-label[type=select][label=h160]  {padding-right: 160px;}
    
    div[labelcolor=red]     .label{background-color: #F7AFB3;}
    div[labelcolor=green]   .label{background-color: #BAEDD3;}
    div[labelcolor=pubple]  .label{background-color: #B274DC;}
    div[labelcolor=blue]    .label{background-color: #A8D4FF;}
    
    
    
    .input-full{
        padding: 0 8px 0 0px;margin: 2px 0;
        position: relative;
    }
    .ptext{padding:27px 10px 0 0;}
    .input-full span.html-edit{
        cursor: pointer;
        float: right;
        padding-right: 8px;
    }
    .input-full .label{
        width: 100%;
        border-bottom: 0px solid #ccc;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background-color:#F7D9AF;
        height: 26px;
        position: absolute;
    }
    .input-full[label=area] .label{
        width: 100%;
        border-bottom: 0px solid #ccc;
        border-top: 0px solid #ccc;
        border-left: 0px solid #ccc;
        border-right: 0px solid #ccc;
        background-color:#F7D9AF;
        height: 27px;
        position: absolute;
        top:1px;
        left: 1px
    }
    .input-full[label=area] textarea{
        
        top:0px;left: 0;right: 0;
        padding: 31px 0px 0 8px;margin: 0;
        width: 100%;
        min-height: 26px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        line-height: 16px;
        background: #fafafa;
        background-color: #FDFDFD;
/*        border: 1px solid #B2B2B2;*/
        box-shadow: inset 0 1px 3px #b2b2b2;
        -moz-box-shadow: inset 0 1px 3px #b2b2b2;
        -webkit-box-shadow: inset 0 1px 3px #b2b2b2;
        behavior: url(../lib/PIE/PIE.htc);
    }
    div.input-full input[type=text]:focus{
        background: #fff;
        
    }
    td.space{width: 8px;}
    .warning-16{
        position: absolute;
        top: 4px;right: 4px;
        background: url(../images/icon/16/warning.png) no-repeat center;
        width: 16px;height: 16px;
    }