*{font-family: tahoma;font-size: 11px}
.showandhide .hideifhover{display: block}
.showandhide .showifhover{display: none}
.showandhide:hover .hideifhover{display: none}
.showandhide:hover .showifhover{display: block}
.edit_icon{
    background: url(../../images/icon/icon_edit.png) center no-repeat;
}
.delete_icon{
    background: url(../../images/icon/16/delete.png) center no-repeat;
}
.restore_icon{
    background: url(../../images/icon/16/sprite_black2.png) no-repeat 0 -64px;;
}

.new_icon{
    background: url(../../images/icon/sw_add.png) center no-repeat;
}
.setting_icon{
    background: url(../../images/icon/16/option.gif) center no-repeat;
}
.detail_icon{
    background: url(../../images/icon/16/text_list_bullets.png) center no-repeat;
}
.log_icon{
    background: url(../../images/icon/16/log.png) center no-repeat;
}
.preview_icon{
    background: url(../../images/icon/16/stock_toggle-preview.png) center no-repeat;
}
.refresh_icon{
    background: url(../../images/icon/16/view_refresh.png) center no-repeat;
}
.hover50{
    opacity: 0.5;
}
.hover50:hover{
    opacity: 1;
}
.icon16{
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 0;margin: 0;
    display: inline-block;
}
.hidden{display: none}
.w100pc{width: 100%}
.w100{width: 100px}
.w120{width: 120px}
.w240{width: 240px}
.w320{width: 320px}
.w80{width: 80px}
.w800{width: 800px}
.pl20{padding-left: 20px}
.pl60{padding-left: 60px}
.pr8{padding-right: 8px}
.pr10{padding-right: 10px}
th,td{text-align: left}
.mh32{min-height: 32px}
.pr{position: relative}
.pa{position: absolute}
.rsv{resize: vertical}
ul.classic-list li{float: left;min-width: 120px}
.mlr2{margin-left: 2px;margin-right: 2px}
.bgceb{background-color: #ebebeb}
.showandhide .hideifhover{display: block}
.showandhide .showifhover{display: none}
.showandhide:hover .hideifhover{display: none}
.showandhide:hover .showifhover{display: block}




.MrKhuong{
    border: 1px solid red;
    padding: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -160px;
    width: 320px;
    height: 100px;
    z-index: 9999;
    background: #fff;
    -moz-box-shadow: 0 4px 10px #666;
    -webkit-box-shadow: 0 4px 10px #666;
    box-shadow: 0 4px 10px #666;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7)';
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7);
}
.MrKhuong .tit{
    text-align: center;
    padding: 8px 12px;
    background: red;
    color: #fff;
}
.MrKhuong .tit span{font-weight: bold;padding-right: 12px}
.MrKhuong p{color: red;padding: 8px 12px;margin: 0}
.MrKhuong .back{color: red;padding: 8px 32px;margin: 0;position: absolute;bottom: 0;left: 0}
.MrKhuong .home{color: red;padding: 8px 32px;margin: 0;position: absolute;bottom: 0;right: 0}
.MrKhuong .back:hover,.MrKhuong .home:hover{font-weight: bold}
.MrKhuong.blue{border: 1px solid blue;}
.MrKhuong.blue .tit{background: blue;}
.MrKhuong.blue .back,.MrKhuong.blue .home,.MrKhuong.blue p{color: blue;}
.MrKhuong.orange{border: 1px solid orange;}
.MrKhuong.orange .tit{background: orange;}
.MrKhuong.orange .back,.MrKhuong.orange .home,.MrKhuong.orange p{color: orange;}
