body {
    background-color:#f3f3f3;
    background: url(../../../images/bg/px1.jpg) center repeat;
    color: #111;

    font-family:tahoma,Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.floatL{
    float:left;
}

.marginR20{
    margin-right:20px;
}

.content{
    padding-top:0px;
    height: 400px;
}

.content p{

    text-align:justify;
    line-height:160%;
}
a{color: #9A0E14}
h1{
    font-family:'Open Sans Condensed';
    font-size: 14px;
    color:#7b9bbb; 
    text-shadow:0px 1px 1px #fff;
    padding: 0;margin: 0;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
h3{
    color: white;
    background: #8C0000;
    font-family: tahoma;font-size: 11px;
    font-weight: normal;
    height: 24px;line-height: 24px;padding: 0 12px;margin: 0

}
h2{	
    font-size: 11px;
    margin: 0;
    color:#9A0E14; 
    line-height: 26px;
    padding: 0px 0 0px 0;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-shadow:0px 1px 1px #fff;
}

#start, #slide1, #slide2, #slide3, #slide4{
    width:520px;
}

#start{
    text-align:center;
}

.step{
    padding-top: 160px;
    width:520px;

    margin:0 auto;
    height: 460px;
}

/* fade out inactive slides */
/*.step:not(.active) {
        opacity: 0.3;
}*/
.menu {position:absolute; z-index:50;width: 520px;left: 50%;top: 50%;margin: -220px 0 0 -260px}

#menu { position:absolute;list-style: none;font-family: tahoma;font-size:  11px;margin: 0;padding: 0;width: 520px;height: 60px}

#menu li {position: absolute; width:80px; height:60px; z-index:1}
#menu li a{ display:block; overflow:hidden;width:100%; height:100%; text-decoration:none; position: relative; background:url(../img/nav.png) left top no-repeat;}
#menu li a b{ display:block; width:100%; height:100%; background:url(../img/nav.png) right top no-repeat; position:absolute; z-index:2;}
#menu li a b{
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#menu:hover li.navactive a b{
    opacity: .7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#menu li:hover a b,#menu li.navactive a b,#menu:hover li.navactive:hover a b{opacity: 1}
#menu li a span{
    line-height:18px; text-decoration:none; color:#d8d8d8; 
    position: absolute; z-index:3; text-transform:uppercase; 
    padding-left:8px; padding-top:8px; }

#menu li.nav1{ left:0; top:0;}
#menu li.nav2{ left:0; top:0;}
#menu li.nav3{ left:0; top:0;}
#menu li.nav4{ left:0; top:0;}
#menu li.nav5{ left:0; top:0;}
#menu li.nav6{ left:0; top:0;}
#menu li.nav7{ left:0; top:0;}

.splash {position:absolute;z-index:40;width: 520px;left: 50%;top: 50%;margin: -220px 0 0 -260px}

.splash1 { width:140px; height:100px; background:url(../img/sp1.jpg) 0 0 no-repeat; position: absolute;}
.splash_1 {width:130px; height:90px;  position:absolute; left:4px; top:4px;  }
.splash_1 a{background:#fff;border:1px solid #3f3f3f; width:100%; height:100%; display:block;}

.splash2 { width:180px; height:120px; background:url(../img/sp2.jpg) 0 0 no-repeat; position: absolute;}
.splash_2 {width:170px; height:110px;  position:absolute; left:4px; top:4px;  }
.splash_2 a{background:#fff;border:1px solid #3f3f3f; width:100%; height:100%; display:block;}
.splash_2 a img,.splash_1 a img{width:100%; height:100%;}
.splash .nav1{ left:0px; top:52px;}
.splash .nav2{ left:0px; top:248px;}
.splash .nav3{ left:160px; top:100px;}
.splash .nav4{ left:448px; top:136px;}
.splash .nav5{ left:340px; top:0px;}
.splash .nav6{ right:40px; top:208px;}
.splash .nav7{ left:242px; top:320px;}

.w260{
    width: 260px;float: left;height: 96px;position: relative;overflow: hidden;
    padding: 8px 0;
}
.w260 .thumb{width: 60px;float: left;margin: 0 0px 0 0;}
.w260 p{padding:0 8px;margin: 0}
.w260 .h3{font-weight: bold;font-style: italic}
.w160{width: 160px}
.w260 .c{margin:0 10px;border-bottom: 1px solid #7E4545;height: 95px}
.pl12{padding-left: 12px}
.p12{padding: 12px}
.page{
    border-radius: 4px;
    background: url('../../../images/bg/10.png')repeat;
    background: rgba(255,255,255,0.5);
    position: relative;
}
#next, #prev {
position: fixed;
width: 8%;
height: 100%;
display: block;
top: 0;
background-position: center;
background-repeat: no-repeat;
z-index: 999;
}
#prev{
	left:0;
	background-image:url(../img/prev.png);
}

#next{
	right:0;
	background-image:url(../img/next.png);
}

#prev:hover{
	background-image:url(../img/prev.png) , -webkit-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/prev.png) , -moz-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/prev.png) , -o-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/prev.png) , -ms-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/prev.png) , linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
}

#next:hover{
	background-image:url(../img/next.png) , -webkit-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/next.png) , -moz-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/next.png) , -o-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/next.png) , -ms-linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
	background-image:url(../img/next.png) , linear-gradient(bottom,rgb(231,231,231),rgba(247,247,247,0.1));
}
.next{position: absolute;top: 10px;right: 10px;cursor: pointer}
.prev{position: absolute;top: 10px;right: 52px;cursor: pointer}
#contact .classic-input{background: url('../../../images/bg/50.png')repeat;border: 1px solid #aaa;color: #ddd}
.nicEdit-panelContain{color: #000}

.q230{width: 124px;height: 124px;}
.q460{width: 254px;height: 124px;}
.q690{width: 384px;height: 124px;}
.q460.fix,.q690.fix{width: 124px;height: 124px;}
.jq230{width: 124px;height: 254px;}

.jtit{position: absolute;top: 92px;left: 0;height: 124px;width: 100%;z-index: 3;
      transition: top .25s ease-in-out;
      -moz-transition: top .25s ease-in-out;
      -webkit-transition: top .25s ease-in-out;
}
.jtit h4{padding: 8px 12px 0px 12px;color: #9A0E14;font-weight: bold;margin: 0;}
.jtit *{color: #d7d7d7}
.jtit span.bg{position: absolute;top: 0;left: 0;height: 124px;width: 100%;}
.q230 .jtit,.q460 .jtit,.q690 .jtit,.jq230 .jtit{background: #aaa;background: url(../../../images/bg/30.png) repeat;}
.q230:hover .jtit,.q460:hover .jtit,.q690:hover .jtit,.jq230:hover .jtit{
    background: url(../../../images/bg/70.png) repeat;
    top:0;
}
.q230 .jimg,.q460 .jimg,.q690 .jimg,.jq230 .jimg{width: 100%;height: 100%;position:relative;}
.q230 .jimg,.q460 .jimg img,.q690 .jimg img,.jq230 .jimg img{
    max-width: 100%;max-height: 124px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;

}
.q230 .jaction,.q460 .jaction,.q690 .jaction,.jq230 .jaction{
    position: absolute;
    bottom: 0;right: 0;height: 28px;width: 100%;
    text-align: center;
}
.q230 .jimg img,.jq230 .jimg img{max-width: 124px;max-height: 124px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;}
.q230,.q460,.q690,.jq230{
    float: left;margin: 3px;position: relative;overflow: hidden;
    background:#ccc;
}

.q154{width: 153px;height: 153px;}
.q312{width: 310px;height: 153px;}


.q154 .jtit,.q312 .jtit{background: rgba(0,0,0,0.3);}
.q154:hover .jtit,.q312:hover .jtit{background: rgba(0,0,0,0.8);}
.q154 .jimg,.q312 .jimg{width: 100%;height: 100%;position:relative;}
.q154 .jimg,.q312 .jimg img{
    max-width: 100%;max-height: 153px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;

}
.q154 .jaction,.q312 .jaction{
    position: absolute;
    bottom: 0;right: 0;height: 28px;width: 100%;
    text-align: center;
}
.q154 .jimg img,.jq230 .jimg img{max-width: 153px;max-height: 153px;position:absolute;top:0;bottom:0;right: 0;left: 0;margin:auto;}
.q154,.q312{
    float: left;margin: 2px;position: relative;overflow: hidden;
    background:#ccc;
}

.jbox{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;}
.h4 {
display: block;
height: 25px;
line-height: 25px;
color: white;
background: #8C0000;
padding-left: 15px;
padding: 15px 0 15px 15px;
overflow: hidden;
text-shadow: 0px 0px 0px white;
}