
.jfk-bubble {
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

-moz-box-shadow: 0 4px 10px #666;
-webkit-box-shadow: 0 4px 10px #666;
box-shadow: 0 4px 10px #666;
-ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7)';
filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7);

background-color: white;
border: 1px solid;
border-color: #BBB #BBB #A8A8A8;
padding: 16px;
position: absolute;
z-index: 1201!important;
}
.jfk-bubble.jfk-bubble-promo {background-color: #F9EDBE;border: 1px solid #F0C36D;}
.jfk-bubble-arrowup {top: -9px;}
.jfk-bubble{-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);box-shadow:0 1px 3px rgba(0,0,0,.2);background-color:#fff;border:1px solid;border-color:#bbb #bbb #a8a8a8;padding:16px;position:absolute;z-index:1201!important}
.jfk-bubble-closebtn{background:url("https://ssl.gstatic.com/ui/v1/icons/common/x_8px.png") no-repeat;height:21px;opacity:.4;outline:0;position:absolute;right:2px;top:2px;width:21px}
.jfk-bubble-closebtn:focus,.jfk-bubble-closebtn:hover{opacity:1}
.jfk-bubble .jfk-bubble-closebtn{display: none}
.jfk-bubble:hover .jfk-bubble-closebtn{display: block}
.jfk-bubble-arrow{position:absolute}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore,.jfk-bubble-arrow .jfk-bubble-arrowimplafter{display:block;height:0;position:absolute;width:0}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore{border:9px solid}
.jfk-bubble-arrow .jfk-bubble-arrowimplafter{border:8px solid}
.jfk-bubble-arrowdown{bottom:0}
.jfk-bubble-arrowup{top:-9px}
.jfk-bubble-arrowleft{left:-9px}
.jfk-bubble-arrowright{right:0}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore{border-color:#bbb transparent;left:-9px}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore{border-color:#a8a8a8 transparent}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,.jfk-bubble-arrowup .jfk-bubble-arrowimplafter{border-color:#fff transparent;left:-8px}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore{border-bottom-width:0}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter{border-bottom-width:0}
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore{border-top-width:0}
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter{border-top-width:0;top:1px}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore{border-color:transparent #bbb;top:-9px}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,.jfk-bubble-arrowright .jfk-bubble-arrowimplafter{border-color:transparent #fff;top:-8px}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore{border-left-width:0}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter{border-left-width:0;left:1px}
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore{border-right-width:0}
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter{border-right-width:0}
.jfk-bubble.jfk-bubble-promo{background-color:#f9edbe;border:1px solid #f0c36d}
.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,.jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore{border-color:#f0c36d transparent}
.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,.jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplafter{border-color:#f9edbe transparent}
.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,.jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore{border-color:transparent #f0c36d}
.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,.jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplafter{border-color:transparent #f9edbe}

.jfk-bubble.jfk-bubble-promo.gray {background-color: #Fafafa;border: 1px solid #ddd;}
.jfk-bubble.jfk-bubble-promo.gray .jfk-bubble-arrowimplbefore{border-color:#ddd transparent}
.jfk-bubble.jfk-bubble-promo.gray .jfk-bubble-arrowimplafter{border-color:#fafafa transparent}

.jfk-bubble.jfk-bubble-promo.grayc {background-color: #FFF1A8;border: 1px solid #ccc;}
.jfk-bubble.jfk-bubble-promo.grayc .jfk-bubble-arrowimplbefore{border-color:#ccc transparent}
.jfk-bubble.jfk-bubble-promo.grayc .jfk-bubble-arrowimplafter{border-color:#FFF1A8 transparent}

.jfk-bubble.jfk-bubble-promo.white {background-color: #fff;border: 1px solid #ddd;}
.jfk-bubble.jfk-bubble-promo.white .jfk-bubble-arrowimplbefore{border-color:#ddd transparent}
.jfk-bubble.jfk-bubble-promo.white .jfk-bubble-arrowimplafter{border-color:#fff transparent}

.jfk-bubble.jfk-bubble-promo.blue {background-color: #A8EDFF;border: 1px solid #51DBFF;}
.jfk-bubble.jfk-bubble-promo.blue .jfk-bubble-arrowimplbefore{border-color:#00CBFF transparent}
.jfk-bubble.jfk-bubble-promo.blue .jfk-bubble-arrowimplafter{border-color:#A8EDFF transparent}



