
body{font-family: tahoma;font-size: 11px}
img{border: none}
.showandhide .hideifhover{display: block}
.showandhide .showifhover{display: none}
.showandhide:hover .hideifhover{display: none}
.showandhide:hover .showifhover{display: block}
.edit_icon{
    background: url(../../images/icon/icon_edit.png) center no-repeat;
}
.delete_icon{
    background: url(../../images/icon/16/delete.png) center no-repeat;
}
.restore_icon{
    background: url(../../images/icon/16/sprite_black2.png) no-repeat 0 -64px;;
}

.new_icon{
    background: url(../../images/icon/sw_add.png) center no-repeat;
}
.setting_icon{
    background: url(../../images/icon/16/option.gif) center no-repeat;
}
.detail_icon{
    background: url(../../images/icon/16/text_list_bullets.png) center no-repeat;
}
.log_icon{
    background: url(../../images/icon/16/log.png) center no-repeat;
}
.preview_icon{
    background: url(../../images/icon/16/stock_toggle-preview.png) center no-repeat;
}
.refresh_icon{
    background: url(../../images/icon/16/view_refresh.png) center no-repeat;
}
.chooseimage_icon,#chooseimg{
    background: url(../../images/icon/16/pictures_folder_black.png) center no-repeat;
}

.classic-button.icon.save{
    background-image: url('../sysimages/16/action_check.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}
.hover50{
    opacity: 0.5;
}
.hover50:hover{
    opacity: 1;
}
.icon16{
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 0;margin: 0;
    display: inline-block;
}
.hidden{display: none}
.w40{width: 40}
.w100pc{width: 100%}
.w100{width: 100px}
.w120{width: 120px}
.w160{width: 160px}
.w240{width: 240px}
.w320{width: 320px}
.w80{width: 80px}
.w800{width: 800px}
.w720{width: 720px}
.pl20{padding-left: 20px}
.pl60{padding-left: 60px}
.pr8{padding-right: 8px}
.pr10{padding-right: 10px}
th,td{text-align: left}
.mh32{min-height: 32px}
.pr{position: relative}
.pa{position: absolute}
.rsv{resize: vertical}
ul.classic-list li{float: left;min-width: 120px}
.mlr2{margin-left: 2px;margin-right: 2px}
.bgceb{background-color: #ebebeb}
.showandhide .hideifhover{display: block}
.showandhide .showifhover{display: none}
.showandhide:hover .hideifhover{display: none}
.showandhide:hover .showifhover{display: block}




.MrKhuong{
    border: 1px solid red;
    padding: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -160px;
    width: 320px;
    height: 100px;
    z-index: 9999;
    background: #fff;
    -moz-box-shadow: 0 4px 10px #666;
    -webkit-box-shadow: 0 4px 10px #666;
    box-shadow: 0 4px 10px #666;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7)';
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7);
}
.MrKhuong .tit{
    text-align: center;
    padding: 8px 12px;
    background: red;
    color: #fff;
}
.MrKhuong .tit span{font-weight: bold;padding-right: 12px}
.MrKhuong p{color: red;padding: 8px 12px;margin: 0}
.MrKhuong .back{color: red;padding: 8px 32px;margin: 0;position: absolute;bottom: 0;left: 0}
.MrKhuong .home{color: red;padding: 8px 32px;margin: 0;position: absolute;bottom: 0;right: 0}
.MrKhuong .back:hover,.MrKhuong .home:hover{font-weight: bold}
.MrKhuong.blue{border: 1px solid blue;}
.MrKhuong.blue .tit{background: blue;}
.MrKhuong.blue .back,.MrKhuong.blue .home,.MrKhuong.blue p{color: blue;}
.MrKhuong.orange{border: 1px solid orange;}
.MrKhuong.orange .tit{background: orange;}
.MrKhuong.orange .back,.MrKhuong.orange .home,.MrKhuong.orange p{color: orange;}

fieldset,.fieldset {
    background: rgba(204, 204, 204, 0.2);
    border: 1px solid #C9C9C9;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.7);
}
legend {
    color: #333;
    border-color: transparent;
    font-weight: bold;
    padding: 4px 20px;
    line-height: 16px;
    background: #E0BAED;
}
pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}
.chooseimage{top: 50%;right: 0;width: 16px;height: 16px;margin: -8px -16px 0 0px;}
.lh16{line-height: 16px}
.lh20{line-height: 20px}
.lh24{line-height: 24px}
.lh28{line-height: 28px}

.ml0{margin-left    : 0px;}
.mr0{margin-right   : 0px;}
.mt0{margin-top     : 0px;}
.mb0{margin-bottom  : 0px;}

.pl0{padding-left   : 0px;}
.pr0{padding-right  : 0px;}
.pt0{padding-top    : 0px;}
.pb0{padding-bottom : 0px;}

.ml2{margin-left    : 2px;}
.mr2{margin-right   : 2px;}
.mt2{margin-top     : 2px;}
.mb2{margin-bottom  : 2px;}

.pl2{padding-left   : 8px;}
.pr2{padding-right  : 8px;}
.pt2{padding-top    : 8px;}
.pb2{padding-bottom : 8px;}


.pl4{padding-left   : 4px;}
.pr4{padding-right  : 4px;}
.pt4{padding-top    : 4px;}
.pb4{padding-bottom : 4px;}

.ml4{margin-left    : 4px;}
.mr4{margin-right   : 4px;}
.mt4{margin-top     : 4px;}
.mb4{margin-bottom  : 4px;}

.ml8{margin-left    : 8px;}
.mr8{margin-right   : 8px;}
.mt8{margin-top     : 8px;}
.mb8{margin-bottom  : 8px;}

.pl8{padding-left   : 8px;}
.pr8{padding-right  : 8px;}
.pt8{padding-top    : 8px;}
.pb8{padding-bottom : 8px;}

.ml12{margin-left    : 12px;}
.mr12{margin-right   : 12px;}
.mt12{margin-top     : 12px;}
.mb12{margin-bottom  : 12px;}

.pl12{padding-left   : 12px;}
.pr12{padding-right  : 12px;}
.pt12{padding-top    : 12px;}
.pb12{padding-bottom : 12px;}

.ml20{margin-left    : 20px;}
.mr20{margin-right   : 20px;}
.mt20{margin-top     : 20px;}
.mb20{margin-bottom  : 20px;}

.pl20{padding-left   : 20px;}
.pr20{padding-right  : 20px;}
.pt20{padding-top    : 20px;}
.pb20{padding-bottom : 20px;}

.tranf10{background: url(../../images/bg/10.png) repeat;}
.tranf20{background: url(../../images/bg/20.png) repeat;}
.tranf30{background: url(../../images/bg/30.png) repeat;}
.tranf40{background: url(../../images/bg/40.png) repeat;}
.tranf50{background: url(../../images/bg/50.png) repeat;}
.tranf60{background: url(../../images/bg/60.png) repeat;}
.tranf70{background: url(../../images/bg/70.png) repeat;}
.tranf80{background: url(../../images/bg/80.png) repeat;}
.tranf90{background: url(../../images/bg/90.png) repeat;}

ul.sysmenu{list-style: none;padding-left: 0px;height: 50px;border-left: 1px solid #BBB}
ul.sysmenu li{float: left;position: relative;height: 50px;width: 80px;border-right: 1px solid #BBB;transition: background .25s ease-in-out;-moz-transition: background .25s ease-in-out;-webkit-transition: background .25s ease-in-out;}
ul.sysmenu li img.ic,ul.sysmenu:hover li.active img.ic{width: 32px;height: 32px;margin-left: 24px;margin-top: 9px;opacity: .5;z-index: 1}
ul.sysmenu li,ul.sysmenu:hover li.active{background: #d7d7d7;}
ul.sysmenu li:hover,ul.sysmenu li.active,ul.sysmenu:hover li.active:hover{background: #ccc;}
ul.sysmenu li:hover img.ic,ul.sysmenu li.active img.ic,ul.sysmenu:hover li.active:hover img.ic{
    position: absolute;
    width: 50px;height: 50px;margin-left: 15px;margin-top: 0;
    opacity: 1;
}
ul.sysmenu li div{
    position: absolute;
    top: 50px;
    left: 0;font-weight: bold;width: 80px;text-align: center;color: #E40451;display: none}
ul.sysmenu li:hover div{display: block;z-index: 1}
div.syshead{
    background: #d7d7d7;

    height: 28px;
    z-index: 10001;
    position: relative;
}
.header-fade {

    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    background: url('../sysimages/bg-header-fade.png') repeat-x;
    height: 5px;
    z-index: 1;
}
ul.sysnav{
    z-index: 9999;
    border-right: 1px solid #BBB;height: 28px;
    position: absolute;top: 0;list-style: none;}
ul.sysnav li{float: left;position: relative;height: 28px;border-left: 1px solid #BBB;transition: background .25s ease-in-out;-moz-transition: background .25s ease-in-out;-webkit-transition: background .25s ease-in-out;}
ul.sysnav li a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
/*    font-weight: bold;*/
    text-decoration: none;
}
ul.sysnav li{}
ul.sysnav li:hover{background: #CCC}
ul.sysnav li a.user{
    background: url(../sysimg/bg-user-icon.png) no-repeat left center;padding-left: 44px}
tt {
background-color: #DEEAC9;
border: 1px solid #CAD5B7;
padding: 1px 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.fl{float: left}
.fr{float: right}
ul.sysnav li ul{position: absolute;top: 28px;min-width: 160px;border-top: 1px solid #bbb;display: none}
ul.sysnav li ul.l{left: -1px;}
ul.sysnav li ul.r{right: 1px;}
ul.sysnav li ul li{display: block;height: 26px;width: 100%;border-bottom: 1px solid #bbb;border-right: 1px solid #bbb;background: #d7d7d7}
ul.sysnav li ul.r li a{text-align: right}
ul.sysnav li ul li a{line-height: 26px}
ul.sysnav li:hover ul{display: block}
.disabled{opacity: .5}